@model TableDisplayer.Models.UserViewModel

<div class="modal fade" id="AddUpdateModelPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AddUpdateModelLabel">Edit user</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <p id="infoSpan"></p>
                <form id="editUserForm" asp-action="Edit" asp-controller="Account">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Login" class="control-label"></label>
                        <input asp-for="Login" class="form-control" readonly="readonly" id="UserNameInput" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <p>@Html.DisplayNameFor(model => model.IsSuspended)</p>
                        <label class="switch">
                            <input asp-for="IsSuspended" class="checkbox" />
                            <span class="slider round"></span>
                        </label>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="LexId" class="control-label"></label>
                        <input asp-for="LexId" class="form-control" />
                        <span asp-validation-for="LexId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ext" class="control-label"></label>
                        <input asp-for="Ext" class="form-control" />
                        <span asp-validation-for="Ext" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label">New password</label>
                        <p><input type="text" id="pwdInput" class="form-control" /></p>
                        <p><a href="#" class="btn btn-info col-12" onclick="fillPassword();">Generate password</a></p>
                        <p><a href="#" class="btn btn-info col-12" onclick="copyCreds();">Copy new creds</a></p>
                        <p><a href="#" class="btn btn-info col-12" onclick="resetPassword();">Reset password</a></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Save" class="btn btn-primary" form="editUserForm" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <textarea id="clipboadText" style="height: 0px; width: 0px; margin-left: -99999px;" />
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
